footer {
    background: black;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 6vw 0 2vw;
    margin-top: 50px;
  
    img {
      width: 12vw;
      margin-bottom: 3vw;
    }
  
    p {
      font-size: 2vw;
    }
  }
  
  @media screen and (max-width: 740px) {
    footer {
      margin-top: 25px;
    }
  }
  